html {
    overflow-x: hidden;
}

#fullnav {
    background-color: rgb(70, 70, 70);
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: rgb(200, 200, 200);
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.carousel-caption {
    text-align: left;
}

.c-item {
    height: 600px;
}

.c-img {
    height: 100%;
    object-fit:cover;
    filter: brightness(0.6);
}

.c-sub {
    margin-left: 6%;
    margin-right: 6%;
    justify-content:space-around;
    align-items: center;
}

.c-btn {
    margin-left: 10px;
}